header {
    width: 100%;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.8rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.navLink {
    display: flex;
    gap: 2rem;
    align-items: center;
    list-style: none;
}

/* Sticky navbar */
.darkNav {
    background: rgb(8, 8, 129);
    transition: background 0.4s;
}

/* Logo */
header .logo {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Menu icon (hamburger) */
.iconMenu {
    font-size: 2rem;
    cursor: pointer;
    display: none; /* caché en desktop */
}

/* ===== RESPONSIVE ===== */
@media (max-width: 978px) {

    .iconMenu {
        display: block; /* visible en mobile */
    }

    .navLink {
        position: absolute;
        background-color: aliceblue;
        flex-direction: column;
        color: black;
        width: 230px;
        top: -500px; /* caché */
        right: 30px;
        border-radius: 6px;
        z-index: 10;
        padding: 2rem;
        transition: top 0.4s ease;
    }

    .navLink.active {
        top: 70px; 
    }
}
