header{
    width: 100%;
    /* background-color: #333; */
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding: .8rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

ul{
    display: flex;
    gap: 2rem;
    align-items: center;
}


.darkNav{
    background: rgb(8, 8, 129);
    transition: .4s;
}

header .logo{
    display: flex;
    align-items: center;
    gap: .2rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.icon{
    font-size: 2rem;
}

